[submodule "Masonry"]
	path = Masonry
	url = https://github.com/SnapKit/Masonry.git
    ignore = all
[submodule "IRSingleButtonGroup"]
	path = IRSingleButtonGroup
	url = https://github.com/irons163/IRSingleButtonGroup.git
    ignore = all
